header
	.row
		h1: a(href="/"): img(src="./img/header-logo.png" alt="" title="" width="" height="")
		mixin nav-header(href, src, alt, width, height, target)
			li: a(href=href, target=target): img(src=src, alt=alt, title="" width=width, height=height)
		ul.nav-header
			+nav-header('./index.html', 'home.png', 'ホーム', 100, 50, '_blank')
			+nav-header('./jinzaihaken.html', 'jinzaihaken.png', '人材派遣', null, null, '_blank')
			+nav-header('./design.html', 'design.png', 'デザイン制作')
			//- for nav, href in {'./index.html': 'ホーム', './jinzaihaken.html': '人材派遣', './design.html': 'デザイン制作'}
			//- 	li: a(href=href): =nav