block variables
doctype html
html(lang=pageLang)
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
		include /_includes/_meta

	body
		include /_includes/_header

		block content

		include /_includes/_footer
		include /_includes/_script
