meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="format-detection" content="telephone=no")
if pageTitle
	title #{pageTitle} | #{dashboard.name}
else
	title #{dashboard.name}
meta(name="description" content=pageDescription)

block css
	link(rel="stylesheet" href="/css/style.css")

//- OGP
if pageOgpTitle
	meta(property="og:title" content=pageOgpTitle + ' | ' + dashboard.name)
else
	meta(property="og:title" content=dashboard.name)
meta(property="og:type" content=pageOgpType)
meta(property="og:image" content=pageOgpImage)
meta(property="og:url" content=dashboard.rootUrl + pageUrl)
meta(property="og:description" content=pageDescription)
meta(property="og:site_name" content=dashboard.name)
meta(property="og:locale" content=pageLang)

//- OGP Facebook insights
//- meta(property="fb:admins" content="")
meta(property="fb:app_id" content="1793236850924319")
//- /OGP Facebook insights

//- OGP Twitter Cards
//- meta(name="twitter:site" content="@")
meta(name="twitter:card" content="summary_large_image")
if pageOgpTitle
	meta(name="twitter:title" content=pageOgpTitle + ' | ' + dashboard.name)
else
	meta(name="twitter:title" content=dashboard.name)
meta(name="twitter:description" content=pageDescription)
meta(name="twitter:image" content=pageOgpImage)
//- /OGP Twitter Cards

link(rel="apple-touch-icon" href=dashboard.appleTouchIconImage)
link(rel="shortcut icon" href=dashboard.appleTouchIconImage)

//- /OGP

if jsonLD
	script(type="application/ld+json" src=jsonLD)
