block js
	script(src='https://code.jquery.com/jquery-3.2.1.min.js')
	script(defer src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
	//- script(async src='http://cdn.jsdelivr.net/mojs/latest/mo.min.js')
	script(src="/js/common.js")
	script(src="https://use.typekit.net/lvs0err.js")
	script try{Typekit.load({ async: true });}catch(e){}
	//- link(rel='stylesheet preload' href='https://cdn.rawgit.com/qrac/yakuhanjp/master/dist/css/yakuhanjp.css' crossorigin)
		//- 約物すべてに適応
	//- link(rel='stylesheet preload' href='https://cdn.rawgit.com/qrac/yakuhanjp/master/dist/css/yakuhanjp_s.css' crossorigin)
		//- 括弧だけに適応
	script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
	//- link(rel='stylesheet preload' as="font" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' crossorigin)
	//- include _script-ga
	//- include _script-social
			//- https://developers.facebook.com/docs/plugins/like-button
