@charset "UTF-8";
.btn-print {
	padding-left: 10px;
	a {
		background: #DA306B;
		color: #fff;
		display: block;
		font-size: 77%;
		letter-spacing: .2em;
		line-height: 1em;
		padding: .4em .5em .4em .7em;
		text-align: center;
		width: 6em;
	}
}

$profile-cont-padding: 10px;
$profile-head-margin: 30px;

#print {
	background: #fff;
	.inner {
		margin: 0 auto;
		width: 730px;
	}
	.profile-head {
		@include clearfix;
		margin-bottom: 8px;
		li {
			display: inline-block;
			width: 365px;
		}
		img {
			width: 365px;
		}
	}
	.profile-detail {
		@include clearfix;
		.left {
			float: left;
			width: 365px;
		}
		.right {
			float: right;
			width: (730px / 2) - $profile-cont-padding - 5;
			a {
				display: block;
				line-height: 1.1;
				margin-left: .2em;
				padding-top: .2em;
				text-indent: -.2em;
			}
		}
		h1 {
			font-size: 2.6rem;
			letter-spacing: .35em;
			line-height: 1.5em;
			margin-bottom: 6px;
			padding: 1em 0 0 $profile-cont-padding;
			.en {
				color: #888;
				display: block;
				font-size: 50%;
				letter-spacing: .08em;
				line-height: 1em;
				padding-left: .2em;
				text-transform: capitalize;
				// padding-left: 1.08em;
			}
		}
		dl {
			@include clearfix;
			font-size: 77%;
			letter-spacing: .08em;
			line-height: 1.3;
			margin-bottom: 5px;
			min-height: 11.2em;
		}
		dt {
			color: #e25b8a;
			float: left;
			text-transform: capitalize;
			width: 7em;
		}
		dd {
			margin: 0 0 3px 6.5em;
		}
	}

	.profile-cont {
		ul {
			@include clearfix;
			margin: 0 -20px 2px 0;
			padding: 0 0 0 0;
			width: 750px;
		}
		li {
			display: inline-block;
			font-size: 1.2rem;
			letter-spacing: .1em;
			line-height: 1.3;
			margin: 0 20px 8px 0;
			padding-left: $profile-cont-padding;
			vertical-align: top;
			width: 165px - $profile-cont-padding;
			span {
				color: #999;
				display: block;
				font-size: 1rem;
				// line-height: 1.2em;
				padding: 2px 0 0 0;
			}
			img {
				display: block;
				height: 100px;
				margin: 0 auto;
				text-align: center;
			}
		}
		h2 {
			border-top: 1px solid #666;
			font-size: 1.2rem;
			letter-spacing: .05em;
			padding: 3px $profile-cont-padding + 2;
			text-transform: capitalize;
		}
		h3 {
			border-left: 2px solid #DA306B;
			font-size: 1.3rem;
			font-weight: bold;
			letter-spacing: .08em;
			line-height: 1;
			margin-bottom: 8px;
			padding-left: $profile-cont-padding - 2;
		}
		.letterspace1 {
			letter-spacing: 1em;
		}

		.profile-career {
			@include clearfix;
		}
	}


	.contact-info {
		@include clearfix;
		border-top: 1px solid #bbb;
		font-size: 77%;
		letter-spacing: .05em;
		line-height: 1.5;
		padding: 8px $profile-cont-padding 10px;
		.left {
			float: left;
			width: 640px;
		}
		.logo {
			display: block;
			float: right;
			padding-top: 15px;
		}
		img {
			height: 20px;
		}
	}

	.row {
		@include clearfix;
		margin-right: -20px;
		width: 750px;
		div {
			@include clearfix;
			border-top: 1px dashed #999;
			padding-top: 8px;
			width: 730px;
		}
		.col1 {
			float: left;
			margin-right: 20px;
			width: 165px;
		}
		.col2 {
			float: left;
			margin-right: 20px;
			width: 350px;
		}
	}

	.photo-list {
		border-top: 1px dashed #999;
		padding: 5px 0;
		ul {
			@include clearfix;
			margin-right: -5px;
			width: 735px;
		}
		li {
			display: inline-block;
			margin: 0 5px 5px 0;
		}
		img {
			// height: 260px;
			width: 142px;
		}
	}

}