extend /_includes/_layout
append variables
	//- Required
	- var pageTitle= "";
	- var pageDescription= dashboard.description;
	//- Optional
	- var pageOgpTitle= "";
	- var pageOgpImage= dashboard.ogpImage
	- var pageLang= "ja";
	- var pageOgpType= "website";
	//- Not modified
	- var pageUrl= "";
	- var jsonLD= "/json/json_ld.json";

block content
	article
		h1 見出し(heading)
		p 段落、paragraph
