extend /_includes/_layout
append variables
	- var metatitle = 'page title', metadescription = 'page description', ogimage = 'http://page.com/ogimage.jpg';
	//- Required
	- var pageTitle= metatitle;
	- var pageDescription= metadescription;
	//- Optional
	- var pageOgpTitle= metatitle;
	- var pageOgpImage= ogimage;
	- var pageLang= "ja";
	- var pageOgpType= "article";
	//- Not modified
	- var pageUrl= relativePath;
	- var jsonLD= "";

block content
	// contents
	p page Contents