@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
	font-family: $accent_font;
	text-transform: uppercase;
}
.inline-block {
	display: inline-block;
	letter-spacing: normal;
	&-parent {
		letter-spacing: -.4em;
	}
}
.svg-wrap {
	height: 0;
	padding-top: 100px;
	position: relative;
}
svg {
	display: block;
	height: 100%;
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.break,
.sp-break { // 改行
	display: block;
}
.pc-break {
	display: none;
}
.microdata,
.sp-hide {
	display: none;
}
.table-cell {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.display-flex {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-feature-settings: 'palt';
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	line-height: 1.3;
	overflow: visible;
	text-align: center;
	width: 100%;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.row {
	margin: 0 auto;
}

// google map responsive
.responsive {
	background: #E9E6DF;
	height: 0;
	margin-bottom: 2%;
	overflow: hidden;
	padding: 0 0 50%; // %数値で縦横比コントロール
	position: relative;
	iframe,
	object,
	embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}
// facebook responsive
#fb-root {
	text-align: center;
	width: 100% !important;
}

.class{background:url("myfile.jpg");}