@charset "UTF-8";
//color setting
$accent-color01: #EC3E82;

$basic-color01: #FDF1F4;

$border-color01: #FAD0D9;

$key-color01: lighten(#C30D23, 5%);
.key-color01 {
	fill: $key-color01;
}
$key-color02: #231815;
.key-color02 {
	fill: $key-color02;
}

// keyframes mixin ex. @include keyframes(animationSample){ 0% { opacity: 0; } 100% { opacity: 1; } }
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} { @content; }
	@-moz-keyframes #{$name} { @content; }
	@-ms-keyframes #{$name} { @content; }
	@keyframes #{$name} { @content;}
}

// プロパティにプレフィックスを付与 ex. @include PropertySetPrefix(border-radius, 10px);
$set-prefix: -moz- , -webkit- , '';
@mixin PropertySetPrefix($name, $value) {
	@each $prefix in $set-prefix {
		#{$prefix}#{$name}: $value;
	}
}

// gradient
@mixin gradient($start-color, $end-color, $orientation) {
	background: $start-color;
	@if $orientation == vertical { // vertical
		background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
		background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
		background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
		background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
		background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
	}
	@else if $orientation == horizontal { // horizontal
		background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
		background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
		background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
		background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
		background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
	}
	@else { // radial
		background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
		background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
		background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
		background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
		background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
	}
}

@mixin gradient02($start-color, $half-color, $end-color, $orientation) {
	background: $start-color;
	@if $orientation == vertical { // vertical
		background: -moz-linear-gradient(top,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(50%,$half-color), color-stop(100%,$end-color));
		background: -webkit-linear-gradient(top,  $start-color 0%, $half-color 50%,$end-color 100%);
		background: -o-linear-gradient(top,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: -ms-linear-gradient(top,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: linear-gradient(to bottom,  $start-color 0%, $half-color 50%, $end-color 100%);
	}
	@else if $orientation == horizontal { // horizontal
		background: -moz-linear-gradient(left,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(50%,$half-color), color-stop(100%,$end-color));
		background: -webkit-linear-gradient(left,  $start-color 0%, $half-color 50%,$end-color 100%);
		background: -o-linear-gradient(left,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: -ms-linear-gradient(left,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: linear-gradient(to right,  $start-color 0%, $half-color 50%, $end-color 100%);
	}
	@else { // radial
		background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(50%,$half-color), color-stop(100%,$end-color));
		background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: -o-radial-gradient(center, ellipse cover,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%, $half-color 50%, $end-color 100%);
		background: radial-gradient(ellipse at center,  $start-color 0%, $half-color 50%, $end-color 100%);
	}
}

@mixin gradientColor01 {
	@include gradient02(#C88A25, #DCA641, #C88A25, horizontal);
	filter:progid:DXImageTransform.Microsoft.Gradient( GradientType=1,StartColorStr=#C88A25,EndColorStr=#C88A25 );
}

@mixin selectNone { // for smartphone uservility http://qiita.com/oreo/items/0fdf92969f3cd25a6695
	//選択制御
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	//ポップアップメニュー表示制御
	 -webkit-touch-callout: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, table, td, th, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,
img {
	border: 0;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
	-webkit-backface-visibility: hidden;
}
img[src$=".svg"] { // IE9-11
	width: 100%;
}
// address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
svg:not(:root) {
	overflow: hidden;
}
li {
	list-style: none;
}
caption,
th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}
/* 2. Basic Format */
* { // add box-sizing
	font-weight: normal;
	font-style: normal;
	box-sizing: border-box;
}
hr {
	display: none;
}
form {
	margin: 0;
	padding: 0;
}
input {
	line-height: 1.5;
}
textarea {
	padding: .4em;
}
abbr {
	border: none;
}
span { // add
	font: inherit;
}
/* 4. Basic Font Format */
// $accent_font: 'Times New Roman', YuMincho, '游明朝', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ 明朝', 'MS Mincho', serif;
$accent_font: 'YakuHanJP', 'a-otf-futo-go-b101-pr6n', sans-serif;
$accent_font02: 'ryo-display-plusn', serif;
// $basic_font: 'Droid Sans', 'メイリオ', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'HGPゴシックE', 'ＭＳ Ｐゴシック', sans-serif;
// $basic_font: 'YakuHanJPs', '游ゴシック', YuGothic, 'メイリオ', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'HGPゴシックE', 'ＭＳ Ｐゴシック', sans-serif;
// $basic_font: 'a-otf-futo-go-b101-pr6n', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'HGPゴシックE', 'メイリオ', 'ＭＳ Ｐゴシック', sans-serif;
$basic_font: 'YakuHanJP', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'HGPゴシックE', 'メイリオ', 'ＭＳ Ｐゴシック', sans-serif;
html {
	font-size: 62.5%; // rem
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	background: #fff;
	color: #333;
	font-family: $basic_font;
	line-height: 1.65;
	position: relative;
	text-rendering: geometricPrecision;
	// -webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// -webkit-text-stroke: 0.1px #333;
}
// select, input, textarea { font-size: 99%; }
*:first-child+html body {
	font-family: $basic_font;
}
* html body {
	font-family: $basic_font;
}

/* 5. Basic Hyperlink Format */
$anchor-color01: #333;
$anchor-color02: #666;
a {
	color: $anchor-color01;
	outline: none;
	text-decoration: none;
	text-shadow: none;
	// @include PropertySetPrefix(transition, .6s);
	&:hover {
		// color: inherit;
		cursor: pointer;
		text-decoration: none;
		text-shadow: none;
		// opacity: .7;
	}
	&:visited,
	&:active {
		// color: inherit;
		text-decoration: none;
	}
	&:focus { outline: none; }
}

article {
	a {
		display: inline-block;
		position: relative;
		transition: .3s;
		&:after {
			background: $anchor-color01;
			content: '';
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: .3s;
			width: 0;
		}
		&:hover:after {
			width: 100%;
		}
	}
}

.button a {
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	outline: none;
	padding: .9em 3.6em;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all .2s;
	&:before,
	&:after {
		border: 2px solid transparent;
		content: '';
		height: 0;
		position: absolute;
		width: 0;
		z-index: 2;
	}
	&:before {
		top: -2px;
		left: -2px;
	}
	&:after {
		bottom: -2px;
		right: -2px;
	}
	&:hover {
		color: $anchor-color02;
	}
	&:hover:before,
	&:hover:after {
		height: 100%;
		width: 100%;
	}
	&:hover:before {
		border-bottom-color: $anchor-color02;
		border-left-color: $anchor-color02;
		transition: height .3s, width .3s .3s;
	}
	&:hover:after {
		border-top-color: $anchor-color02;
		border-right-color: $anchor-color02;
		transition: height .3s, width .3s .3s;
	}
}